body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;

    --color-link: rgb(0, 81, 202);

    --primary: rgb(0 103 255);
    --color: #000;
    --color-2: #777;
    --color-white: #fff;
    --color-valid: green;
    --color-invalid: red;
    --bg: #fff;
    --bg-2: #eee;
    --bg-3: #ddd;
    --bg-disabled: #aaa;
    --bg-active: #f5f5f5;
    --bg-accent: #000;
    --shadow: 0 .1em .2em .05em light-dark(rgba(0, 0, 0, 0.1), #00000040);
    outline: 0;
    font-family: Roboto, sans-serif
}

a {
    text-decoration: none;
    color: var(--color-link);
    font-weight: bold;

    &:hover {
        color: var(--primary);
    }
}

li {
    margin-bottom: .5em;
}

.main-header {
    display: flex;
    padding: 2em;
}

.main-header__nav {
    display: flex;
    flex: 1;
    justify-content: end;
    gap: 2em;

    a {
        text-decoration: none;
        color: #000;
        transition: transform .3s;

        &:hover {
            transform: scale(1.1);
            color: var(--primary);
        }
    }
}

.main {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    width: 100%;
    align-self: center;
}

.main-info {
    display: flex;
    gap: 2em;
    align-self: center;
}

.main-info__description {
    display: flex;
    flex-direction: column;
}

.main-info__profile-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: var(--shadow);
}

.main-info__title {
    margin-top: .2em;
    margin-bottom: .2em;
}

.main-info__text {
    margin-top: .2em;
}

.main-tabs {
    margin-top: 1em;
    --tabs-navigation-gap: 1.5em;
}

.tabs__header-item {
    display: flex;
    align-items: center;
    gap: .5em;
    height: 2.5em;
    transition: color .3s ease-in-out, fill .3s ease-in-out;
}

.tabs__header-item-text {
    max-width: 80px;
    text-align: center;
    font-size: .85em;
}

.tabs__header-item-icon {
    width: 1.1em;
    height: 1.1em;
}

.tabs__header-item__active {
    color: var(--primary);
    fill: var(--primary);
}


.job-experience {
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.job-experience-item {
    width: 100%;
    padding: 1em;
    border-radius: .8em;
    box-shadow: 0 0 .3em #00000030;
}

.job-experience-item__head {
    display: flex;
    gap: 1em;
    border-bottom: 1px solid #eee;
}

.job-experience-item__company-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em 0;
}

.job-experience-item__company-logo {
    width: 80px;
    height: 80px;
    padding: 1em;
}

.job-experience-item__title {
    margin-top: 0;
    margin-bottom: .2em;
}

.job-experience-item__text {
    margin: 0;
    color: var(--color-2);
}

.job-experience-item__main {
    padding: 0 1em;
}

.job-experience-item__badge-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: .5em;
    cursor: pointer;
}

.job-experience-item__badge {
    background-color: var(--bg-2);
    padding: .5em;
    border-radius: .8em;
}

.job-experience-item__main-title {
    margin-bottom: .5em;
}